<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
</head>
<link rel="stylesheet" href="./css/style3.css">
 






<body>
  <center>
  <h1>Create New Post</h1>
  <form action="/new-post" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="thumbnail" placeholder="Thumbnail URL" required>
    <textarea name="content" placeholder="Content" required></textarea>
    <button type="submit">Post</button>
  </form>




  <script async="async" data-cfasync="false" src="//pl25567305.profitablecpmrate.com/2633c36c177cec6f69827b38965255fc/invoke.js"></script>
<div id="container-2633c36c177cec6f69827b38965255fc"></div>


<script async="async" data-cfasync="false" src="//pl25567305.profitablecpmrate.com/2633c36c177cec6f69827b38965255fc/invoke.js"></script>
<div id="container-2633c36c177cec6f69827b38965255fc"></div>


<script type="text/javascript">
  atOptions = {
    'key' : '0f60b79fd3e5b8703a780ac8b38d1278',
    'format' : 'iframe',
    'height' : 60,
    'width' : 468,
    'params' : {}
  };
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/0f60b79fd3e5b8703a780ac8b38d1278/invoke.js"></script>



<script type="text/javascript">
	atOptions = {
		'key' : '0f60b79fd3e5b8703a780ac8b38d1278',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};


  </center>
</body>
</html>
